<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>WikiTracker</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg" href="./images/logoW.svg">
        <link href="style/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link href="style/temp.css" rel="stylesheet" />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div id="wt-header" class="fixed-top d-inline-block">
                <a href="/" :aria-label="textContent.homeLabel"><img src="./images/logoW.svg" id="logo"></img></a>
                <div v-if="hasTimer" id="wt-time" class="text-center">
                    {{ timeDisplay }}
                </div>
                <div v-if="lengthGoal > 0" id="wt-distance" class="text-center">
                    {{ distance + " / " + lengthGoal }}
                </div>
                <button v-if="canTurn" type="button" v-on:click="forward = !forward" v-bind:aria-label="textContent.turnButtonLabel">
                    <i class="bi" :class="'bi-arrow-' + (forward ? 'right' : 'left')"></i>
                </button>
            </div>
            <nav class="sticky-top align-middle fs-2" aria-label="textContent.breadcrumbLabel">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" :class="{ past: pos !== 0 }" v-on:click="pos = 0;" 
                        v-on:keydown="navBreadCrumbWithKeyboard($event, 0)" 
                        tabindex="0" :aria-current="{ page: pos === 0 }">
                        {{ start.label }}
                    </li>
                    <li v-for="(step, index) in track" class="breadcrumb-item" 
                        :class="{ past: pos !== index + 1, 'goal': (index + 1 === track.length) && achieved, 'forward': step.forward }" 
                        v-on:click="navBreadCrumb($event, index + 1)" v-on:keydown="navBreadCrumbWithKeyboard($event, index + 1)" 
                        tabindex="0" :key="step.item.id" :aria-current="{ page: pos === index + 1 }">
                        {{ step.item.label }}
                    </li>
                    <li v-if="!achieved" class="breadcrumb-item" :class="{ 'forward': forward }">
                        •••
                    </li>
                    <li v-if="!achieved" class="breadcrumb-item goal" :class="{ 'forward': forward }" tabindex="0">
                        {{ goal.label }}
                    </li>
                </ol>
            </nav>
            <main class="container mb-12">
                <div v-if="errors.length > 0" class="alert alert-danger" role="alert">
                    <h2 class="alert-heading">{{ textContent.error }}</h2>
                    <p v-for="error of errors" class="fs-5">
                        {{ error }}
                    </p>
                </div>
                <div v-if="achieved" class="alert alert-success" role="alert">
                    <p class="fs-5">
                        <span class="font-italic">
                            {{
                                "\""
                                + start.label.charAt(0).toUpperCase() + start.label.slice(1)
                                + track
                                    .map(step => " " + (step.forward ? ">" : "<") + " " + step.property.label + " " + (step.forward ? ">" : "<") + " " + step.item.label)
                                    .reduce((acc, val) => acc + val)
                            }}
                        </span>
                        {{
                            " " + textContent.success
                        }}
                    </p>
                    <div class="input-group input-group-lg w-100" id="share-game-link">
                        <input type="text" class="form-control" aria-label="URL de cette partie" aria-describedby="share-game" :value="shareUrl" disabled>
                        <button class="btn btn-outline-secondary border-2" type="button" id="share-game" v-on:click="copyLink">
                            {{ textContent.copyLink }}
                        </button>
                    </div>
                </div>
                <div v-if="forward" class="fs-5">
                    <div v-for="(choice, index) in choices" v-on:click="choose($event, index)" 
                        v-on:keydown="chooseWithKeyboard($event, index)" class="row rounded wt-choice" 
                        :key="choice.property.id + choice.item.id" tabindex="0">
                        <div class="d-none d-sm-block col-4 text-truncate text-end" :aria-label="choice.property.label">
                            {{ 
                                choice.property.order === 0 ?
                                    choice.property.label: 
                                    (
                                        choice.property.order === 1 ?
                                            "├":
                                            "└"
                                    ) + "─"
                            }}
                        </div>
                        <div class="col-12 col-sm-8 wt-item text-truncate text-start">
                            {{ choice.item.label }}
                        </div>
                    </div>
                </div>
                <div v-else class="fs-5">
                    <div v-for="(choice, index) in choices" v-on:click="choose($event, index)" 
                        v-on:keydown="chooseWithKeyboard($event, index)" class="row rounded wt-choice" 
                        :key="choice.item.id + choice.property.id" tabindex="0">
                        <div class="col-12 col-sm-5 wt-item text-truncate text-sm-end">
                            {{ choice.item.label }}
                        </div>
                        <div class="d-none d-sm-block col-7 text-truncate text-start" :aria-label="choice.property.label">
                            {{ 
                                choice.property.order === 0 ?
                                    choice.property.label: 
                                    "─" + (
                                        choice.property.order === 1 ?
                                            "┤":
                                            "┘"
                                    )
                            }}
                        </div>
                    </div>
                </div>
                <div class="progress bg-transparent fixed-bottom" :class="{ invisible: choicesLoadingProgress < 1 }">
                    <div class="progress-bar progress-bar-striped" role="progressbar" 
                        :style="'width: ' + this.choicesLoadingProgress + '%;'" :aria-valuenow="choicesLoadingProgress" 
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </main>
        </div>
        <script src="scripts/app.js"></script>
    </body>
</html>