<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>WikiTracker</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
            crossorigin="anonymous"
        />
        <link href="style/custom.css" rel="stylesheet" />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <header class="container-fluid sticky-top bg-white border-bottom border-primary">
                <div class="row">
                    <div class="col-1">
                        <div class="row">
                            {{ timeDisplay }}
                        </div>
                        <div class="row border-top border-primary">
                            {{ distance }} sauts
                        </div>
                    </div>
                    <div class="col-11 border-start border-primary">
                        <button class="btn btn-lg btn" v-bind:class="{ 'btn-primary': pos === 0, 'btn-outline-primary': pos !== 0 }" v-on:click="pos = 0;">
                            {{ start.label }}
                        </button>
                        <button v-for="(step, index) in track" class="btn btn-lg btn" v-bind:class="{ 'btn-primary': pos === index + 1, 'btn-outline-primary': pos !== index + 1 }" v-on:click="pos = index + 1;">
                            {{ step.item.label }}
                        </button>
                        <button v-if="!achieved" class="btn btn-lg btn btn-success float-end" disabled>
                            {{ goal.label }}
                        </button>
                    </div>
                </div>
                <div class="row border-top border-primary">
                    <div class="progress" v-bind:class="{ invisible: choicesLoadingProgress < 1 }">
                        <div class="progress-bar" role="progressbar" v-bind:style="choicesLoadingBarWidth" v-bind:aria-valuenow="choicesLoadingProgress" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </header>
            <main class="container">
                <div v-if="!achieved">
                    <div v-for="(choice, index) in choices" v-on:click="choose($event, index)" class="row rounded wt-choice" tabindex="0">
                        <div class="col-5 text-secondary text-truncate text-end">
                            {{ 
                                choice.property.order === 0 ?
                                    choice.property.label: 
                                    (
                                        choice.property.order === 1 ?
                                            "├":
                                            "└"
                                    ) + "─"
                            }}
                        </div>
                        <div class="col-7 text-primary text-truncate text-start">
                            {{ choice.item.label }}
                        </div>
                    </div>
                </div>
                <!-- <div class="row text-nowrap" v-if="!achieved">
                    <div class="col"></div>
                    <div class="col" id="properties">
                        <ol class="text-end">
                            <li v-for="(choice, index) in choices" v-on:click="choose($event, index)">
                                {{ choice.property.label }}
                            </li>
                        </ol>
                    </div>
                    <div class="col" id="items">
                        <ol>
                            <li v-for="(choice, index) in choices">
                                <button v-on:click="choose($event, index)" class="btn btn-link">
                                    {{ choice.item.label }}
                                </button>
                            </li>
                        </ol>
                    </div>
                </div> -->
                <div id="victory" v-if="achieved">Victoire !</div>
            </main>
            <!-- <div id="timer">
                <span v-if="hours > 0">{{ hours }}<span class="unit">h</span></span><span v-if="hours > 0 || minutes > 0">{{ minutes }}<span class="unit">m</span></span>{{ seconds }}<span class="unit">s</span></span>
            </div>
            <div id="counter">
                {{ distance }}<span class="unit"> sauts</span>
            </div> -->
        </div>
        <script src="scripts/app.js"></script>
    </body>
</html>