#victory {
    color: green;
    font-size: 6em;
}
header {
    padding: 0 3em;
}
#path {
    list-style: none;
    padding: 0;
    display: inline-block;
}
#path li, #goal {
    font-size: 2em;
    display: inline-block;
    margin: 0 1em;
}
.current {
    font-weight: bold;
}
#goal {
    float: right;
}
#properties ol, #items ol {
    list-style: none;
    padding: 0;
}
.wt-choice {
    cursor: pointer;
}
.wt-choice:hover {

}