body {
    font-size: 1.5em;
}
#victory {
    color: green;
    font-size: 6em;
}
header {
    padding: 0 3em;
}
#path {
    list-style: none;
    padding: 0;
    display: inline-block;
}
#path li, #goal {
    font-size: 2em;
    display: inline-block;
    margin: 0 1em;
}
.current {
    font-weight: bold;
}
#goal {
    float: right;
}
#properties ol, #items ol {
    list-style: none;
    padding: 0;
}
#timer {
    position: fixed;
    bottom: 0;
    left: 0.5em;
    font-size: 4em;
}
#counter {
    position: fixed;
    bottom: 0;
    right: 0.5em;
    font-size: 4em;
}
.unit {
    font-size: 0.5em;
}