#logo, #wikidataStamp {
    width: 100%;
}

#wikidataLink {
    width: 100%;
}
#wikidataLink img {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

#wt-header {
    width: 120px;
    margin: 20px;
    font-size: 32px;
    text-align: center;
    color: white;
    height: calc(100vh - 40px);
}
#wt-time {
    margin-top: 20px;
    border-radius: 24px;
    vertical-align: middle;
    background-color: transparent;
    background-image: url(/images/green_square.svg);
    background-size: cover;
    height: 120px;
}
#wt-distance {
    margin-top: 20px;
    border-radius: 24px;
    vertical-align: middle;
    background-color: transparent;
    background-image: url(/images/red_square.svg);
    background-size: cover;
    height: 120px;
    color: #990000;
    position: relative;
    font-weight: 600;
}
#wt-current-distance, #wt-goal-distance {
    position: absolute;
    width: 90px;
    height: 90px;
    text-align: center;
}
#wt-current-distance {
    top: 0;
    left: 0;
}
#wt-goal-distance {
    bottom: 0;
    right: 0;
}
#wt-current-distance span, #wt-goal-distance span {
    top: 50%;
    left: 0;
    margin-top: -24px;
    width: 100%;
    position: absolute;
}
#wt-header button {
    border-radius: 24px;
    margin-top: 20px;
    width: 100%;
    border: none;
    font-size: inherit;
    color: inherit;
    background-color: #006699;
}
#wt-header button svg {
    height: 24px;
}

body {
    margin-left: 160px;
}

nav {
    background-color: rgba(255, 255, 255, 0);
    border-bottom: solid black 1px;
    padding: 8px 16px;
    background-color: white;
}