#logo,
#wikidataLink img,
#infoLink img,
#wt-turn,
#wt-time svg {
  width: 100%;
}
#wt-time {
  background-color: transparent;
}
#wt-header {
  font-size: unset;
  text-align: center;
  color: white;
}
#wt-distance {
  border-radius: 24px;
  vertical-align: middle;
  background-color: transparent;
  background-image: url(../images/red_square.svg);
  background-size: cover;
  height: 120px;
  color: #990000;
  position: relative;
  font-weight: 600;
}
#wt-current-distance {
  top: 0;
  left: 0;
  color: #396;
}
#wt-goal-distance {
  bottom: 0;
  right: 0;
  color: #900;
}

nav {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: solid #6c757d 1px;
  padding: 8px 16px;
  background-color: white;
  color: #6c757d;
}

#success-msg {
  color: #004e7f;
  border: solid 2px #069;
  padding: 1rem;
  margin: 1rem 0;
}

.breadcrumb-item {
  color: #069;
}
.breadcrumb-item.past {
  color: #069;
}
.breadcrumb-item.start {
  color: #396;
}
.breadcrumb-item.dots {
  color: #6c757d;
}
.breadcrumb-item.goal {
  color: #900;
}

#dots {
  font-weight: 100;
}

.wt-ctrl .breadcrumb-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.wt-spinner {
  height: 20px;
}

@media (orientation: landscape) {
  body {
    margin-left: 18vh;
  }
  #homeLink {
    position: fixed;
    top: 2vh;
    left: 2vh;
    height: 14vh;
    width: 14vh;
  }
  #wt-distance {
    position: fixed;
    top: 18vh;
    left: 2vh;
    height: 14vh;
    width: 14vh;
  }
  #wt-current-distance,
  #wt-goal-distance {
    position: absolute;
    width: 10.5vh;
    line-height: 10.5vh;
    font-size: 4.2vh;
    text-align: center;
  }
  #turnButton {
    position: fixed;
    top: 50vh;
    left: 2vh;
    height: 14vh;
    width: 14vh;
  }
  #wt-time {
    position: fixed;
    top: 34vh;
    left: 2vh;
    height: 14vh;
    width: 14vh;
  }
  #infoLink {
    position: fixed;
    top: 66vh;
    left: 2vh;
    height: 14vh;
    width: 14vh;
  }
  #wikidataLink {
    position: fixed;
    top: 82vh;
    left: 2vh !important;
    height: 14vh;
    width: 14vh !important;
  }
}
@media (orientation: portrait) {
  body {
    margin-top: 18vw;
  }
  #homeLink {
    position: fixed;
    top: 2vw;
    left: 2vw;
    height: 14vw;
    width: 14vw;
  }
  #wt-distance {
    position: fixed;
    top: 2vw;
    left: 18vw;
    height: 14vw;
    width: 14vw;
  }
  #wt-current-distance,
  #wt-goal-distance {
    position: absolute;
    width: 10.5vw;
    line-height: 10.5vw;
    font-size: 4.2vw;
    text-align: center;
  }
  #turnButton {
    position: fixed;
    top: 2vw;
    left: 50vw;
    height: 14vw;
    width: 14vw;
  }
  #wt-time {
    position: fixed;
    top: 2vw;
    left: 34vw;
    height: 14vw;
    width: 14vw;
  }
  #infoLink {
    position: fixed;
    top: 2vw;
    left: 66vw;
    height: 14vw;
    width: 14vw;
  }
  #wikidataLink {
    position: fixed;
    top: 2vw;
    left: 82vw !important;
    height: 14vw;
    width: 14vw !important;
  }
}
@media (max-width: 420px) {
  .wt-choice .wt-prop {
    display: none;
  }
  .wt-choice .wt-item {
    width: 100%;
  }
}
